<header class='flex items-center justify-between px-4 h-20'>
  <a href='/dashboard-home'>Dashboard</a>

  <ul class='flex items-center gap-4'>
    <li>
      <a href='/dashboard-home'>Inicio</a>
    </li>
    <li>
      <a href='/dashboard-home/'>Especialidades</a>
    </li>
    <li>
      <a href='/dashboard-home/'>Especialidad</a>
    </li>
  </ul>

  <div>avatar</div>
</header>
