---
import LocationIcon from '@assets/icons/LocationIcon.astro'
import PhoneIcon from '@assets/icons/PhoneIcon.astro'
import EmailIcon from '@assets/icons/EmailIcon.astro'
import ClockIcon from '@assets/icons/ClockIcon.astro'
import WhatsAppIcon from '@assets/icons/WhatsAppIcon.astro'
import FacebookIcon from '@assets/icons/FacebookIcon.astro'
import RowIcon from '@assets/icons/RowIcon.astro'
---

<footer
  class='p-2 max-w-7xl mx-auto pb-10 relative'
  id='location'
>
  <a
    href='#'
    class='absolute bottom-2 right-4 flex items-center hover:text-local_background_quaternary'
  >
    <small>web desarrollada por igris.dev </small>
    <RowIcon />
  </a>
  <h2 class='text-center text-2xl font-bold mb-4'>UBICACIÓN</h2>

  <div>
    <section
      id='map'
      class='h-96 bg-local_background_tertiary rounded-md mb-4'
    >
    </section>

    <section class='flex flex-col md:flex-row gap-4 md:gap-0'>
      <div class='flex flex-col flex-1 gap-6'>
        <div>
          <h3 class='text-xl font-bold mb-2'>DIRECCIÓN</h3>
          <div class='flex items-center gap-2'>
            <LocationIcon />
            <a
              href='https://maps.app.goo.gl/VxfpQpZdFd9BUYUbA'
              target='_blank'
              class='text-sm text-local_title_primary hover:text-local_title_quaternary font-semibold'
              >Cra. 20 #8b30, Popayán, Cauca</a
            >
          </div>
        </div>
        <div>
          <h3 class='text-xl font-bold mb-2'>TELÉFONO</h3>
          <div class='flex items-center gap-2'>
            <PhoneIcon />
            <p class='text-sm'>310 5213172</p>
          </div>
        </div>

        <div>
          <h3 class='text-xl font-bold mb-2'>REDES SOCIALES</h3>
          <div class='flex items-center gap-2'>
            <a
              href='https://www.facebook.com/lasmejoressalchipapasdepopayan/'
              target='_blank'
            >
              <FacebookIcon />
            </a>
            <a
              href='https://api.whatsapp.com/send?phone=%2B573105213172&context=ARAbMpHvV73GYUWKFGpprILkPmyEb46qW94IwaM3Ajgllpozzs1_TSRqMNdBFLcf345t_TO80a7QgY1SVARd3y3DL2RAikiSVAjYLSG4cJ3nTCx6qKUmvFKnj4WvSHudzqzu5GNFds-x2WI8AmgkSrGXsQ&source=FB_Page&app=facebook&entry_point=page_cta'
              target='_blank'
            >
              <WhatsAppIcon />
            </a>
          </div>
        </div>
      </div>

      <div class='flex flex-col flex-1 gap-6'>
        <div>
          <h3 class='text-xl font-bold mb-2'>HORAS DE ATENCIÓN</h3>
          <div class='flex items-center gap-8'>
            <div>
              <h4>Lunes a Viernes</h4>
              <div class='flex items-center gap-2'>
                <ClockIcon />
                <p class='text-sm'>6pm a 12 pm</p>
              </div>
            </div>

            <div>
              <h4>Sábados y Domingos</h4>
              <div class='flex items-center gap-2'>
                <ClockIcon />
                <p class='text-sm'>6pm a 12 pm</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3 class='text-xl font-bold mb-2'>CORREO ELECTRÓNICO</h3>
          <div class='flex items-center gap-2'>
            <EmailIcon />
            <p class='text-sm'>waldemarsanchez2020@gmail.com</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>

<script type='module'>
  var map = L.map('map').setView([2.4418883220175216, -76.6189952639966], 14)

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map)

  L.marker([2.4418883220175216, -76.6189952639966])
    .addTo(map)
    .bindPopup('Salchipapas La 20')
    .openPopup()
</script>

<style>
  #map {
    z-index: 0;
  }

  #location {
    padding-top: 6rem;
  }
</style>
