<footer class='p-2 max-w-7xl mx-auto mb-10 relative'>
  <section>
    <div>+</div>
    <h2>igris.dev</h2>
  </section>

  <section class='flex mt-4 justify-between'>
    <div class='flex-1'>
      <div>
        <h3 class='text-lg font-bold mb-4'>PORTFOLIO</h3>

        <div>
          <div></div>
          <a href=''>htt</a>
        </div>
      </div>

      <div>
        <h3 class='text-lg font-bold mb-4'>TELÉFONO</h3>

        <div>
          <div></div>
          <p>310 5213172</p>
        </div>
      </div>
    </div>

    <div class='flex-1'>
      <div>
        <h3 class='text-lg font-bold mb-4'>REDES SOCIALES</h3>

        <div>
          <div>F</div>
          <div>W</div>
          <div>L</div>
          <div>I</div>
        </div>
      </div>

      <div>
        <h3 class='text-lg font-bold mb-4'>CORREO ELECTRÓNICO</h3>

        <div>
          <div></div>
          <p>waldemarsanchez2020@gmail.com</p>
        </div>
      </div>
    </div>

    <div class='flex-1'>
      <h3>Sobre Mi</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
      </p>
    </div>
  </section>
</footer>
