<header class='max-w-7xl mx-auto flex items-center justify-between px-4 h-20'>
  <h1>Dashboard</h1>

  <ul class='flex items-center gap-4'>
    <li>
      <a href='/dashboard'>Inicio</a>
    </li>
    <li>
      <a href='/dashboard/'>Especialidades</a>
    </li>
    <li>
      <a href='/dashboard/'>Especialidad</a>
    </li>
  </ul>

  <div>avatar</div>
</header>
