---
import MenuIcon from '@assets/icons/MenuIcon.astro'

import LinkBuy from '@components/LinkBuy.astro'
---

<header id='header'>
  <section
    id='navbar'
    class='fixed z-20 h-20 flex items-center justify-between px-4 w-full bg-local_background_primary'
  >
    <div class='text-center'>
      <h1 class='text-xl font-bold text-local_background_secondary'>
        Salchipapas La 20
      </h1>
      <span>popayán</span>
    </div>

    <nav class='hidden md:block'>
      <ul class='flex items-center gap-4 font-medium'>
        <li>
          <a
            href='#header'
            class='text-local_title_primary font-semibold'
            >Inicio</a
          >
        </li>
        <li><a href='#aboutUs'>Sobre Nosotros</a></li>
        <li><a href='#specialties'>Especialidades</a></li>
        <li><a href='#location'>Ubicación</a></li>
      </ul>
    </nav>

    <LinkBuy
      href='buy-online'
      styles='hidden lg:flex'
    />
    <div
      class='block md:hidden text-center text-local_background_secondary rounded-sm close-navbar'
    >
      <MenuIcon />
    </div>
  </section>

  <section
    class='h-screen bg-red-400 background-image flex flex-col justify-center items-center gap-6 md:gap-10 lg:gap-20 relative'
  >
    <div class='filter-dark'></div>

    <h2
      class='xl:text-9xl lg:text-8xl md:text-6xl text-4xl text-center text-local_title_tertiary font-bold z-10'
    >
      COMIDAS RÁPIDAS <br /> A LA ORDEN
    </h2>

    <LinkBuy
      href='/buy-online'
      styles='md:text-xl flex'
    />
  </section>

  <nav
    id='navbar-query'
    class='fixed z-40 top-20 bottom-0 right-0 left-0 flex md:hidden transition navbar-hidden'
  >
    <ul
      class='bg-local_background_quaternary flex-1 text-xl flex flex-col items-end pr-6 gap-4 justify-center text-local_title_tertiary'
    >
      <li>
        <a
          href='#header'
          class='close-navbar'
          >Inicio</a
        >
      </li>
      <li>
        <a
          href='#aboutUs'
          class='close-navbar'
          >Sobre Nosotros</a
        >
      </li>
      <li>
        <a
          href='#specialties'
          class='close-navbar'
          >Especialidades</a
        >
      </li>
      <li>
        <a
          href='#location'
          class='close-navbar'
          >Ubicación</a
        >
      </li>
      <li><a href='/buy-online'>Pedido en linea</a></li>
    </ul>
    <div class='w-[60px] bg-local_background_quaternary/30 close-navbar'></div>
  </nav>

  <style>
    .close-navbar {
      cursor: pointer;
    }

    .navbar-hidden {
      transform: translateX(-100%);
    }

    .background-image {
      background-image: url('/portada.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .filter-dark {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .box-shadow-nav {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  </style>
</header>

<script>
  const navbar = document.getElementById('navbar') as HTMLElement

  window.addEventListener('scroll', () => {
    if (window.scrollY > 960) {
      navbar.classList.add('box-shadow-nav')
    } else {
      navbar.classList.remove('box-shadow-nav')
    }
  })

  const navbarQuery = document.getElementById('navbar-query') as HTMLElement
  const allCloseNavbar = document.querySelectorAll(
    '.close-navbar'
  ) as NodeListOf<HTMLElement>

  allCloseNavbar.forEach((item) => {
    item.addEventListener('click', () => {
      if (navbarQuery.classList.contains('navbar-hidden')) {
        navbarQuery.classList.remove('navbar-hidden')
        return
      }

      navbarQuery.classList.add('navbar-hidden')
    })
  })
</script>
