---
import MenuIcon from '@assets/icons/MenuIcon.astro'

import LinkBuy from '@components/LinkBuy.astro'
---

<header id='header'>
  <section class='h-20 flex items-center justify-between px-4'>
    <div class='text-center'>
      <h1 class='text-xl font-bold text-local_background_secondary'>
        Salchipapas La 20
      </h1>
      <span>popayán</span>
    </div>

    <nav class='hidden md:block'>
      <ul class='flex items-center gap-4 font-medium'>
        <li>
          <a
            href='#header'
            class='text-local_title_primary font-semibold'
            >Inicio</a
          >
        </li>
        <li><a href='#aboutUs'>Sobre Nosotros</a></li>
        <li><a href='#specialties'>Especialidades</a></li>
        <li><a href='#location'>Ubicación</a></li>
      </ul>
    </nav>

    <LinkBuy
      href='buy-online'
      styles='hidden lg:flex'
    />
    <div
      class='block md:hidden text-center text-local_background_secondary rounded-sm'
    >
      <MenuIcon />
    </div>
  </section>

  <section
    class='h-[calc(100vh-80px)] bg-red-400 background-image flex flex-col justify-center items-center gap-6 md:gap-10 lg:gap-20 relative'
  >
    <div class='filter-dark'></div>

    <h2
      class='xl:text-9xl lg:text-8xl md:text-6xl text-4xl text-center text-local_title_tertiary font-bold z-10'
    >
      COMIDAS RÁPIDAS <br /> A LA ORDEN
    </h2>

    <LinkBuy
      href='#'
      styles='md:text-xl flex'
    />
  </section>

  <section></section>

  <style>
    .background-image {
      background-image: url('/portada.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .filter-dark {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  </style>
</header>
