---
import Layout from '../layouts/Layout.astro'
import Header from '@sections/header/Header.astro'
import AboutUs from '@sections/aboutUs/AboutUs.astro'
import Specialties from '@sections/specialties/Specialties.astro'
import Location from '@sections/location/Location.astro'
---

<Layout title='Pedir en linea - Salchipapas La 20'>
  nueva pagina
  <main></main>
</Layout>

<style></style>
