---
import Layout from '../layouts/Layout.astro'
import LocationBigIcon from '@assets/icons/LocationBigIcon.astro'

import SalchipapaSencilla from '@assets/imagesSalchipapas/salchipapa-original.webp'
import HamburguesaSencilla from '@assets/imagesHamburguesas/hamburguesa-sencilla.webp'

import CartSpecialties from '@components/buyOnline/CartSpecialties.astro'

const listaEspecialidades = [
  {
    name: 'Salchipapas',
    href: '#especialidad-salchipapas',
  },
  {
    name: 'Hamburguesas',
    href: '#especialidad-hamburguesas',
  },
  {
    name: 'PerrosCalientes',
    href: '#especialidad-perros-calientes',
  },
  {
    name: 'Sandwiches',
    href: '#especialidad-sandwiches',
  },
  {
    name: 'Bebidas',
    href: '#especialidad-bebidas',
  },
]

export const specialties = [
  {
    salchipapas: [
      {
        name: 'Salchipapa Sencilla',
        image: SalchipapaSencilla.src,
        price: '6.000 - 34.000',
      },
      {
        name: 'Salchipapa Grande',
        image: SalchipapaSencilla.src,
        price: '10.000 - 34.000',
      },
    ],
  },
  {
    hamburguesas: [
      {
        name: 'Hamburguesa Sencilla',
        image: HamburguesaSencilla.src,
        price: '6.000 - 34.000',
      },
      {
        name: 'Hamburguesa Grande',
        image: HamburguesaSencilla.src,
        price: '10.000 - 34.000',
      },
    ],
  },
]
---

<Layout title='Pedir en linea - Salchipapas La 20'>
  <header class=''>
    <div class='absolute w-full top-0 hidden sm:block'>
      <div class='absolute w-full top-0 -z-10'>
        <img
          src='/portada.webp'
          alt='portada'
          class='w-full h-64 object-cover blur-2xl'
        />
      </div>

      <a
        href='/'
        class='flex items-center p-4 text-local_title_tertiary font-bold text-[40px] max-w-7xl mx-auto'
      >
        <LocationBigIcon />
        <h1>Popayán</h1>
      </a>
    </div>

    <div class='relative block sm:hidden'>
      <div class='flex items-center justify-between p-2'>
        <a
          href='/'
          class='w-12 h-8 text-local_subtitle_secondary flex items-center justify-center'
        >
          v
        </a>

        <h1>Salchipapas La 20</h1>

        <button
          class='bg-local_background_tertiary w-12 h-8 text-center text-local_subtitle_secondary rounded-full'
        >
          Q
        </button>
      </div>

      <div>
        <ul class='flex gap-2 overflow-x-auto text-sm px-4 justify-center'>
          {
            listaEspecialidades.map(({ name, href }) => (
              <li class=''>
                <a href={href}>{name}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </header>

  <main class='max-w-7xl mx-auto sm:mt-40 min-h-[200vh] relative'>
    <section class='grid grid-cols-4 gap-4 p-4 h-full'>
      <div class='h-full lg:col-span-3 col-span-4'>
        <section
          class='bg-local_background_primary rounded-xl rounded-tr-[70px] h-72 shadow-xl p-6 flex-col justify-between hidden sm:flex'
        >
          <div class='flex justify-between items-center'>
            <div>icono</div>

            <button
              class='bg-local_background_secondary rounded-full h-10 p-2 flex gap-2 text-local_text_primary'
            >
              Información del establecimiento
            </button>
          </div>

          <h1 class='text-4xl font-bold'>Salchipapas La 20</h1>

          <div>iconos</div>
        </section>

        <section class='sm:mt-8 grid grid-cols-5 gap-4 relative'>
          <div class='sticky top-0 flex-col gap-2 h-min hidden md:flex'>
            <header
              class='flex gap-2 items-center text-xl text-local_title_secondary font-bold'
            >
              <div>-</div>
              <h3>Especialidades</h3>
            </header>
            <main>
              <ul class='mt-4'>
                {
                  listaEspecialidades.map(
                    ({ name, href }: { name: string; href: string }) => (
                      <li class='py-5 border-b-2'>
                        <a href={href}>{name}</a>
                      </li>
                    )
                  )
                }
              </ul>
            </main>
          </div>

          <div class='col-span-5 md:col-span-4 flex flex-col gap-4 w-full'>
            <header class='gap-2 items-center relative hidden md:flex'>
              <div class='absolute left-4 text-local_subtitle_secondary'>Q</div>
              <input
                type='text'
                class='bg-local_background_tertiary w-full p-2 pl-10 rounded-full'
                placeholder='Busca tu planto'
              />
            </header>

            <main class='flex flex-col gap-4'>
              <section
                id='especialidad-salchipapas'
                class='sm:pt-4'
              >
                <h2 class='text-3xl font-bold mb-3'>Salchipapas</h2>

                <div
                  id='especialidades'
                  class='especialidades'
                >
                  <CartSpecialties />
                </div>
              </section>
            </main>
          </div>
        </section>
      </div>

      <div class='h-full relative hidden lg:block'>
        <article
          class='sticky top-0 bg-local_background_primary h-[450px] rounded-xl shadow-xl p-4 py-8'
        >
          <h2 class='text-center text-2xl font-bold'>Tu pedido</h2>
        </article>
      </div>
    </section>
  </main>

  <footer></footer>
</Layout>

<style>
  .especialidades {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    gap: 10px;
  }
</style>
