---
import Layout from '../layouts/Layout.astro'
import Header from '@sections/header/Header.astro'
import AboutUs from '@sections/aboutUs/AboutUs.astro'
import Specialties from '@sections/specialties/Specialties.astro'
import Location from '@sections/location/Location.astro'
---

<Layout title='Salchipapas La 20'>
  <Header />

  <main>
    <AboutUs />
    <Specialties />
  </main>

  <Location />
</Layout>

<style></style>
