---
import Layout from '../layouts/Layout.astro'
import Header from '@sections/header/Header.astro'
import AboutUs from '@sections/aboutUs/AboutUs.astro'
---

<Layout title='Welcome to Astro.'>
  <Header />

  <main>
    <AboutUs />
  </main>
</Layout>

<style></style>
