---
/*
interface Props {
  id: string
  image: string
  name: string
  description: string
  price: string
} */

const { id, nameSpecialty, image, name, description, price } = Astro.props

const specialty = Object.keys(nameSpecialty).toString()
---

<article class='border-2 border-local_border_primary p-4 rounded-lg'>
  <div class='flex gap-4'>
    <div>
      <div class='overflow-hidden rounded-md'>
        <img
          src={image}
          alt=''
          class='w-full h-full object-cover'
        />
      </div>
    </div>

    <div class='flex flex-col justify-between'>
      <div>
        <h3 class='font-bold'>{name}</h3>

        <p class='text-sm'>
          {description}
        </p>
      </div>

      <div class='mt-4'>iconos</div>
    </div>
  </div>
  <div class='flex justify-between items-center mt-4'>
    <span>$ {price}</span>
    <button
      id='button-add-to-cart'
      data-identifier={specialty + '-' + id}
      class='bg-local_background_quaternary/30 font-bold text-2xl rounded-full size-8 text-center text-local_name_secondary'
    >
      +
    </button>
  </div>
</article>

<script>
  const buttonAddToCart = document.getElementById(
    'button-add-to-cart'
  ) as HTMLButtonElement

  const identifier = buttonAddToCart.dataset.identifier
  console.log(identifier?.split('-'))
</script>
