---
/*
interface Props {
  id: string
  image: string
  name: string
  description: string
  price: string
} */

const { id, nameSpecialty, image, name, description, price } = Astro.props

const specialty = Object.keys(nameSpecialty).toString()
---

<article class='border-2 border-local_border_primary p-4 rounded-lg'>
  <div class='flex gap-4'>
    <div>
      <div class='overflow-hidden rounded-md'>
        <img
          src={image}
          alt=''
          class='w-full h-full object-cover'
        />
      </div>
    </div>

    <div class='flex flex-col justify-between'>
      <div>
        <h3 class='font-bold'>{name}</h3>

        <p class='text-sm'>
          {description}
        </p>
      </div>

      <div class='mt-4'>iconos</div>
    </div>
  </div>
  <div class='flex justify-between items-center mt-4'>
    <span>$ {price}</span>
    <button
      data-identifier={specialty + '-' + id}
      class='bg-local_background_quaternary/30 font-bold text-2xl rounded-full size-8 text-center text-local_name_secondary button-add-to-cart'
    >
      +
    </button>
  </div>
</article>

<script>
  import {
    $shoppingCartStore,
    addShoppingCartStore,
  } from '@store/ShoppingCartStore'
  import { $specialties } from '@store/SpecialtiesStore'

  const allButtonAddToCart = Array.from(
    document.querySelectorAll('.button-add-to-cart')
  ) as HTMLButtonElement[]

  allButtonAddToCart.forEach((buttonAddToCart: HTMLButtonElement) => {
    const identifier = buttonAddToCart.dataset.identifier?.split('-')

    buttonAddToCart.addEventListener('click', () => {
      const { value: specialties } = $specialties
      const [specialty, id] = identifier as string[]

      console.log(specialty, id)



      // specialties?.filter()
      addShoppingCartStore({
        id: 1,
        quantity: 1,
        name: 'Salchipapas',
        ingredients: 'Lorem ipsum dolor sit eli',
        price: '$6.000',
      })
    })
  })
</script>
