---
import LocationBigIcon from '@assets/icons/LocationBigIcon.astro'
import SearchIcon from '@assets/icons/SearchIcon.astro'
import RowBackIcon from '@assets/icons/RowBackIcon.astro'

interface Props {
  listaEspecialidades: any[]
}

const { listaEspecialidades } = Astro.props
---

<header class=''>
  <div class='absolute w-full top-0 hidden sm:block'>
    <div class='absolute w-full top-0 -z-10'>
      <img
        src='/portada.webp'
        alt='portada'
        class='w-full h-64 object-cover blur-2xl'
      />
    </div>

    <a
      href='/'
      class='flex items-center p-4 text-local_title_tertiary font-bold text-[40px] max-w-7xl mx-auto'
    >
      <LocationBigIcon />
      <h1>Popayán</h1>
    </a>
  </div>

  <div class='fixed block sm:hidden w-full z-20 bg-local_background_primary'>
    <div class='flex items-center justify-between px-4 py-6'>
      <a
        href='/'
        class='text-local_subtitle_secondary flex items-center justify-center'
      >
        <RowBackIcon />
      </a>

      <h1 class='text-3xl font-bold'>Salchipapas La 20</h1>

      <button
        class='bg-local_background_tertiary text-center text-local_subtitle_secondary rounded-full px-3 py-1'
      >
        <div class='scale-75'>
          <SearchIcon />
        </div>
      </button>
    </div>

    <div>
      <ul class='flex gap-4 overflow-x-auto px-4 justify-center'>
        {
          listaEspecialidades.map(({ name, href }) => (
            <li class=''>
              <a href={href}>{name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
